<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<!-- Tailwind -->
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
		<!-- Jquery -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<!-- 구글폰트 -->
		<link
			href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap"
			rel="stylesheet"
		/>
		<title>정품타</title>

		<style>
			.jungle-bg {
				background-image:
					linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
					url("{{ url_for('static', filename='img/jungle.jpg') }}");
				background-size: cover;
				background-position: center;
			}
		</style>
	</head>
	<body
		class="jungle-bg bg-cover bg-fixed min-h-screen flex justify-center items-center"
	>
		{% block content %}{% endblock %}

		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
	</body>
</html>
