<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<!-- Tailwind -->
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
		<!-- Jquery -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<!-- 구글폰트 -->
		<link
			href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap"
			rel="stylesheet"
		/>
		<title>정품타</title>

		<style>
			.jungle-bg {
				background-image:
					linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
					url("{{ url_for('static', filename='img/jungle.jpg') }}");
				background-size: cover;
				background-position: center;
			}
		</style>
	</head>
	<body
		class="jungle-bg bg-cover bg-fixed min-h-screen flex justify-center items-center w-full"
	>
		{% block content %}{% endblock %}

		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
		<script>
			if (
				!location.pathname.startsWith('/login') &&
				!location.pathname.startsWith('/signup')
			) {
				async function heartbeatOnce() {
					let r = await fetch('/api/heartbeat', {
						method: 'POST',
						credentials: 'include'
					});

					// access 만료 시 refresh
					if (r.status === 401) {
						const rr = await fetch('/api/refresh', {
							method: 'POST',
							credentials: 'include'
						});

						if (rr.ok) {
							await fetch('/api/heartbeat', {
								method: 'POST',
								credentials: 'include'
							});
						} else {
							// 🚨 프론트엔드 스토리지 완벽 파기 후 로그아웃 라우트로 이동
							sessionStorage.clear();
							localStorage.clear();
							location.href = '/logout'; 
						}
					}
				}

				heartbeatOnce();
				setInterval(heartbeatOnce, 5000);
				document.addEventListener('visibilitychange', () => {
					if (!document.hidden) heartbeatOnce();
				});
			}
		</script>
	</body>
</html>
