{% extends "base.html" %} {% block content %}
<div
	class="bg-white/80 backdrop-blur-md p-10 rounded-2xl shadow-2xl w-full max-w-sm border border-white/20"
>
	<div class="text-center mb-10">
		<h1 class="text-3xl font-black text-green-900 mb-2">정품타</h1>
		<p class="text-green-700 font-medium">선의의 경쟁을 하세요</p>
	</div>

	<div class="space-y-6">
		<div>
			<input
				type="text"
				id="loginId"
				placeholder="아이디"
				class="w-full px-5 py-3 rounded-xl border-none bg-white/50 focus:ring-2 focus:ring-green-500 outline-none transition-all placeholder:text-gray-500"
			/>
		</div>

		<div>
			<input
				type="password"
				id="loginPw"
				placeholder="비밀번호"
				class="w-full px-5 py-3 rounded-xl border-none bg-white/50 focus:ring-2 focus:ring-green-500 outline-none transition-all placeholder:text-gray-500"
			/>
		</div>

		<div
			id="error-msg"
			class="text-red-500 text-xs mt-2 hidden text-center"
		>
			계정 정보가 올바르지 않습니다.
		</div>

		<button
			onclick="login()"
			class="w-full bg-green-700 hover:bg-green-800 text-white font-bold py-4 rounded-xl shadow-lg transform active:scale-95 transition-all duration-200"
		>
			정품타 입장하기
		</button>
	</div>

	<div class="mt-8 text-center text-sm text-gray-700">
		계정이 없으신가요?
		<a href="/signup" class="text-green-800 font-bold hover:underline"
			>회원가입</a
		>
	</div>
</div>

<script>
  function getTabId() {
    let tabId = sessionStorage.getItem("tab_id")

    if (!tabId) {
      tabId = crypto.randomUUID()
      sessionStorage.setItem("tab_id", tabId)
    }

    return tabId
  }

	function login() {
    const id = $('#loginId').val();
    const pw = $('#loginPw').val();
    const tabId = getTabId();
		let $errorBox = $('#error-msg');

		$errorBox.addClass('hidden');

		if (id == '' || pw == '') {
			$errorBox.text('아이디와 비밀번호를 모두 입력해주세요.');
			$errorBox.removeClass('hidden'); // 숨김 해제
			return;
		}

		$.ajax({
			type: 'POST',
			url: '/api/login',
      data: {
        id_give: id,
        pw_give: pw,
        tab_id_give: tabId
      },
			success: function (response) {
				alert('로그인 성공!');
				// sessionStorage.setItem('mytoken', response['token']); // 토큰 세션 스토리지에 저장
				window.location.href = '/'; // index.html로 이동
			},
			error: function (xhr) {
				// 서버가 400, 401, 500 등 에러 코드를 보냈을 때
				// xhr.responseJSON 안에는 백엔드에서 보낸 {"result": "fail", "msg": "..."}

				let errorMessage = '서버와 통신 중 오류 발생'; // 기본 메시지

				if (xhr.responseJSON && xhr.responseJSON.msg) {
					errorMessage = xhr.responseJSON.msg; // "아이디/비밀번호가 올바르지 않습니다" 등
				}

				// 에러 박스에 메시지 띄우기
				$errorBox.text(errorMessage);
				$errorBox.removeClass('hidden');
			}
		});
	}
</script>
{% endblock %}
